# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Database & Large Data
*.db
*.sqlite3
*.db-journal
*.db-wal
*.db-shm

# Temporary Excel files
~$*.xlsx
downloads/*.xlsx
exports/*.xlsx

# Environment variables & IDEs
.env
.idea/
.vscode/
*.swp
*.swo
